header{
    
    background-color: #FFF;
    display: flex;
    flex-direction: row;
}

nav {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 40px 120px;
}

.header_body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.nav_menu{
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav_links:hover{
    color: #34313D;
}

a, a:hover{
    color: #9E9AAB;
    /* font-weight: bold; */
}

 
button{
    background-color: #2BD0D0;
    border-style:none;
    padding: 10px 25px;
    color: #FFF;
    font-weight: bold;
    font-size: 15px;
    border-radius: 25px;

}

